:root {
  --color-1 : #7ae340;
  --color-2: rgb(11, 24, 4);
  --color-3: #313131;
  --color-4: #e5e5e5;
  --color-5: #2d5218;
  --background-color-1-transparent: rgba(49, 49, 49, 0.76);
  --background-color-2-transparent: rgba(49, 49, 49, 0.904);
  --space-0: 0.8rem;
  --space-1: 1rem;
  --space-2: 1.5rem;
  --space-3: 2rem;
  --font-size-1: 1rem;
  --font-size-2: 1.2rem;
  --font-size-3: 2rem;
  --font-family : inter;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family) ;
}

html, body {
  height: 100%;
  width: 100%;
  min-height: 100vh;
}

h2,
h3 {
  color: var(--color-4);
  text-align: center;
  display: flex;
  align-items: center;
}

.alert {
  color: red !important;
}