.nav{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  justify-content: space-between;
  padding: var(--space-0) var(--space-1);
  align-items: center;
  min-height: 60px;
  background-color: var(--color-1);
  box-shadow: 0 0px 25px 0px var(--color-2);
  font-weight: 600;
  letter-spacing: 1px;
  font-size: var(--font-size-2);
  gap: var(--space-2);
}

.nav a {
  text-decoration: none;
  color: var(--color-2);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--space-0);
}

.ul {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-2);
  color: var(--color-2);
  align-items: center;
  justify-content: center;
  width: auto;
  max-width: 350px;
}

.list_item {
  list-style: none;
  width: 150px;
}

.list_item a {
  text-decoration: none;
}

.btn {
  padding: 5px var(--space-0);
  border-radius: 6px;
  color: var(--color-4);
  background-color: var(--color-2);
  border: none;
  cursor: pointer;
  font-size: var(--font-size-1);
}

.btn:hover {
  background-color: var(--color-3);
}

@media (width < 768px) {
  .nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-2);
  }

  .nav a {
    width: 100%;
    justify-content: center;
  }
}
